*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Yellowtail&display=swap');
:root{
    --primary-color: #fa6d4a;
    --secondary-color: #fbb458;
    --tertiary-color: #b3426a;
    --accent1:#1c4a34;
    --accent2:#fbe7f0;
}
body{
    color: var(--tertiary-color);
    font-family: 'Open Sans', sans-serif;
    
   }

/*  HEADER STYLE  */   
header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /*background-image: url("../images/hero-bg.jpg");*/
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}   
/*header h1{
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);   
}*/
header a {
    text-decoration: none;
    color: var(--primary-color);
}
/*header nav {
    margin: 7px 0;
}*/
header ul {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    list-style:none;
}
header ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header ul li a:hover {
    background: var(--primary-color);
    color:  var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

/*  HERO STYLE */    
.hero{
    background-image: url("../images/sunset.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;    
}
.hero-img{
    flex: 1 50%;
    /*border: solid 3px var(--secondary-color);
    width: 60%;*/
    margin: .5%;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;*/
}
.hero-img img{
    width: 30%;
    overflow: auto;
}
.hero-name{
    width: 100%;
    font-family:'Yellowtail', cursive;
    font-size: 52px;
    color:var(--primary-color);
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.9);

}.hero-tag{
    width: 100%;
    text-align: right;
    margin: 3.5%;
    color: var(--accent2);
    font-size: 22px;
    line-height: 1.2;
    justify-content: right;
}
/* MAIN SECTION STYLE  */
.flex-row {
    display: flex;
}
section{
    padding: 60px;
    }
.section-title{
    font-size: 48px;
    color:var(--secondary-color);
    padding-bottom: 20px;
    text-align: left;
    margin: 0 auto 35px auto;
    width: 30%;
}
.bio{
    width:100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.sample{
    margin: 20px;
    background:var(--secondary-color);
    color:var(--primary-color);
    flex: 1;
}
.sample img{
    width:100%;
    overflow: auto;
}
.sample-title{
    font-size: 120%;
    color:var(--accent1);
}
.sample-skill{
    font-family:'Yellowtail', cursive;
    font-weight: lighter;
    font-size:120%;
    margin-bottom: 15px;
}
.sample-level{
    font-size: 100%;
}
#contact-me{
    background: var(--primary-color);
   }
#contact-me > * {
    flex: 1;
    margin: 10px;

}#contact-me h2{
    color:var(--secondary-color);
}
#contact-me h3{
    color:var(--accent2);
    font-size: 32px;
    font-family:'Yellowtail', cursive;
}
#contact-me a{
    margin:20px 0;
    /*line-height:1.5;*/
    font-size:16px;
    font-style:normal;
}

/*  FOOTER STYLE  */
footer {
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
footer h2{
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
}
footer div {
    line-height: 1.5;
    text-align: right;
}
/*footer a {
    color: var(--secondary-color);*/